/* font-family: 'Clicker Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Anton', sans-serif;
font-family: 'Ubuntu', sans-serif;*/

.contenedor {
	width: 800px;
	margin: auto;
	position: relative; 
}

.logo {
	padding: 20px;
/*	background-color: rgba(180,155,125,0.4); */
}

.background {
	background-image: url(../img/background1.jpg);
	background-size:cover; 
}

#portada nav li{
	display: inline;
	float: right;
	margin-top: 20px;
	padding: 20px;
}

#portada nav a {
	color: #6C483E;
	text-decoration: none;
}

#portada h3 {
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	padding: 60px 0;
	line-height: 45px;
}


#portada h2{
	color: white;
	font-size: 20px;
}

#portada h2:before{
	content: '*';
	color: white;
	font-size: 20px;
}

#portada button {
	padding: 15px 30px;
	border-radius: 10px;
	margin-left: 630px;
	margin-bottom: 90px;
	background-color: #F6C6EA;
}


/* Comienzo Carrusel */


/* Tamaño Carrusel */  
.productos {		
     width: 310px;
     height: 240px;
     position: relative;
     margin: 0 auto 40px;
/*   border: 1px solid #CCC; */
     perspective: 2100px;
     margin-bottom: 100px;
   }
.titulo {
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 130px;
	text-align: center;
} 

.contenedor p {
	font-size: 15px;
	line-height: 20px;
	text-align: left;

}
/* Fin Tamaño Carrusel */

#carousel {
      width: 100%;
      height: 100%;
      position: absolute;
              transform: translateZ( -288px );
              transform-style: preserve-3d;
              transition: transform 1s;
    }

#carousel img{
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10px;
    top: 10px;
/*  border: 1px solid rgba(   0, 0, 0, 0.8 ); */
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

#carousel img:nth-child(1) {
          transform: rotateY(   120deg ) translateZ( 250px );
         }
#carousel img:nth-child(2) {
          transform: rotateY(  240deg ) translateZ( 250px );
         }
#carousel img:nth-child(3) {
          transform: rotateY(  360deg ) translateZ( 250px );
         }
            

/*Movimiento del carrusel*/
#carousel {
          animation: rotateInY 30s infinite linear;
          }
          @keyframes rotateInY {
        	0%   { transform: translateZ(-288px) rotateY(0deg);   }
         	100% { transform: translateZ(-288px) rotateY(360deg);    }
}
/*Final Movimiento del carrusel*/         
/*Final Carrusel */

hr {
	border: 2px solid #EAEDED;
	border-radius: 300px/10px;
	margin-top: 50px;
	margin-right: 30px;
	margin-left: 30px;
}

/*Comienzo productos*/

#descripcion h2 {
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 35px;
}

#descripcion button {
	padding: 6px 15px;
	margin-top: 10px;
}

 .camara {
 	display: table-cell;
 }

 .impresora {
 	display: table-cell;
 }

 .objetivo {
 	display: table-cell;
 }
 .videocamara {
 	display: table-cell;
 }

 .camara img {
 	padding: 25px;
 	background-color: #f5f6f6;
 	display: block;
 }

 .impresora img {
 	padding: 15px;
 	background-color: #f5f6f6;
 	display: block;
 }

 .objetivo img {
 	padding: 25px;
 	background-color: #f5f6f6;
 	display: block;
 }


/*Final productos*/





/*Comienzo del footer*/
.footer {
	background-image: url(../img/background4.jpg);
	background-size:cover; 
	margin-top: 80px;
}

.formulario {
	margin-left: 150px;
	display: flex;
	width: 500px;
	color: white;
	margin-right: 120px;
}

.contacto img {
	margin-top: 120px;
	width: 250px;
}

.contacto p {
	color: white;
}

.col1, .col2 {
  display: flex;
  flex-direction: column;
}

.col1 {
	margin-top: 90px;
	margin-left: -80px;
	margin-bottom: 60px;
}

.formulario input, textarea {
	margin-top: 10px;
	border-radius: 5px;
}

.col2 {
	align-items: flex-start;
	margin-top: 90px;
	margin-left: 30px;
}

.col2 .button {
	padding: 10px 30px;
	background: peru;
	margin-left: 140px;
	margin-top: 20px;
}
.correo a{
	margin-top: 15px;
	color: white;
	text-decoration: none;
	display: block;
	font-size: 17px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.formulario input, .sexo, .intereses {
  margin-bottom: 15px;
  display: inline;
}


/*Final del footer*/
